.card{
  position: absolute;
  top: 100px;
  left: 525px;
  width: 500px;
  height: 500px !important;
  background-color: red;
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upperShade{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.upperShade{
  height: 100%;
}

.upperShade svg{
  display: block;
}


.card{
  background-color: #f6f6f6 !important;
  cursor: pointer;
}


.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
} 

.cust-grid{
  display: grid;
  grid-template-columns: 3fr 4fr;
}

.mapContainer div div{
  height: 350px !important;
  width: 600px !important;
}

.mapContainer{
  margin-left: 20px;
}